---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/blocks/Navbar.astro';
import VideoHero from '../components/blocks/VideoHero.astro';
import GalleryCarousel from '../components/blocks/GalleryCarousel.astro';
import BlogSection from '../components/blocks/BlogSection.astro';
import Footer from '../components/blocks/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <VideoHero />
    <GalleryCarousel />
    <BlogSection />
  </main>
  <Footer />
</Layout>
